* 타겟 데이터
    - 1978년 보스턴 주택 가격
    - 506개 타운의 주택 가격 중앙값(단위 1,000달러)
* 특징 데이터
    - CRIM : 범죄율
    - ZM : 25,000평방 피트 당 주거용 토지의 비율
    - INDUS : 비소매상업지역 면적 비율
    - CHAS : 찰스강의 경계에 위치한 경우는 1, 아니면 0(통로가 하천을 향하면1, 아니면 0)
    - NOX : 일산화질소 농도(천만분의 1)
    - RM : 주택당 방수
    - AGE : 1940년 이전에 건축된 주택의 비율
    - DIS : 5개 주요 고용센터까지의 가중거리
    - RAD : 고속도로 접근성 지수
    - TAX : 재산세율
    - PTRATIO : 학생/교사 비율
    - B ; 인구 중 흑인 거주 비율
    - LSTAT : 인구 중 하위 계층 비율

In [6]:
import pandas as pd
#from sklearn.datasets import load_boston
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [7]:
df = pd.read_csv('data/boston.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [9]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'PRICE'],
      dtype='object')

In [21]:
f = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT']
label = 'PRICE'
X, y = df[f], df[label]

In [22]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test =\
        train_test_split(X, y, test_size= 0.3 )

In [23]:
from sklearn.neighbors import KNeighborsRegressor

kn =KNeighborsRegressor()
kn.fit( X_train, y_train )

KNeighborsRegressor()

In [24]:
pred = kn.predict( X_test )

In [25]:
pred , y_test

(array([16.74, 21.9 , 30.66, 33.5 , 27.58, 30.88, 24.14, 17.38, 27.58,
         9.44, 19.6 , 22.6 , 33.22, 22.32, 17.24, 32.24, 18.7 , 11.44,
        17.96, 14.  , 21.9 , 11.38, 17.06, 20.5 , 36.6 , 14.86, 25.44,
        26.6 , 22.74, 31.18, 29.24, 24.48, 32.16, 25.04, 29.24, 21.88,
        13.42, 24.16, 22.48, 29.88, 23.72, 21.12,  9.92, 21.84, 20.92,
        20.42, 24.46, 20.82, 33.48, 23.38, 23.38, 13.36, 24.56, 23.48,
        20.02, 24.12, 37.22, 16.54, 34.7 , 43.28, 26.66, 23.38, 15.4 ,
        17.36, 23.38, 22.86, 23.38, 10.04, 21.94, 30.66, 28.14, 33.48,
        20.96, 24.66, 30.48, 32.74, 16.4 , 16.74, 21.76, 33.22, 23.64,
        33.48, 29.  , 24.66, 24.14, 21.94, 10.48, 21.64, 24.36, 23.54,
        19.76, 23.9 , 15.06, 22.74, 25.66, 25.3 , 19.62, 29.48, 17.14,
        32.74, 26.74, 20.82, 16.12, 24.12, 25.  , 19.  , 16.98, 17.26,
         9.62, 20.92, 22.62, 18.42, 27.  , 23.52, 23.1 , 24.2 , 30.94,
        19.94, 18.42, 10.12, 25.78, 21.44, 20.26, 15.44, 15.94, 17.6 ,
        24.6 , 23.9 , 23.9 ,  7.4 , 30.24, 33.48, 29.42, 25.78, 20.26,
        23.96, 15.36, 23.38, 27.5 , 13.16, 23.38, 11.98, 24.56, 11.38,
        32.72, 20.02, 31.14, 19.94, 22.74, 11.1 , 35.38, 19.6 ]),
 139    17.8
 77     20.8
 183    32.5
 163    50.0
 190    37.0
        ...
 22     15.2
 56     24.7
 415     7.2
 120    22.0
 336    19.5
 Name: PRICE, Length: 152, dtype: float64)

In [26]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error( y_test , pred )
r2 = r2_score( y_test, pred )

print("mse : ", mse );
print("r2_score : ", r2 );
print("score : ", kn.score( X_test, y_test ) );

mse :  43.38890789473684
r2_score :  0.525107578015853
score :  0.525107578015853

In [27]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()
rfr.fit( X_train, y_train )

RandomForestRegressor()

In [28]:
pred = rfr.predict( X_test )

mse = mean_squared_error( y_test, pred )
r2 = r2_score( y_test, pred )

print("mse : ", mse )
print("r2 : ", r2 )
print("score : ", rfr.score( X_test, y_test ) )

mse :  10.891835651315786
r2 :  0.8807886516790144
score :  0.8807886516790144